<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITTA - Stok</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SITTA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="stok.html">Stok</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tracking.html">Tracking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="container">
        <div id="app">
            <button class="btn btn-primary" @click="clickShowAddForm">
                {{ showAddForm ? 'Close Add Form' : 'Add Data'}}
            </button>

            <div class="card mt-10" v-show="showAddForm">
                
                <div class="card-header">
                    Tambah Data Bahan Ajar
                </div>
                <div class="card-body">
                    <form @submit.prevent="addData">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Kode</label>
                        <input type="text" v-model="input.kode" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Judul</label>
                        <input type="text" v-model="input.judul" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Kategori</label>
                        <select id="" class="form-control" v-model="input.kategori" required>
                            <option value="">-- Pilih Kategory --</option>
                            <option v-for="k in kategoriList" :value="k">
                                {{k}}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">UPBJJ</label>
                        <select id="" class="form-control" v-model="input.upbjj" required>
                            <option value="">-- Pilih UPBJJ --</option>
                            <option v-for="u in upbjjList" :value="u">
                                {{u}}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Lokasi rak</label>
                        <input type="text" class="form-control" v-model="input.lokasiRak" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Harga</label>
                        <input type="number" class="form-control" v-model="input.harga" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">QTY</label>
                        <input type="number" class="form-control" v-model="input.qty" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Safety</label>
                        <input type="number" class="form-control" v-model="input.safety" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Notes</label>
                        <input type="text" class="form-control" v-model="input.catatanHTML" required>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                    </form>
                </div>
            </div>


            <table class="table mt-10">
                <thead>
                    <tr>
                        <th>Kode</th>
                        <th>Judul</th>
                        <th>Kategori</th>
                        <th>UPBJJ</th>
                        <th>Lokasi Rak</th>
                        <th>Harga</th>
                        <th>QTY</th>
                        <th>Safety</th>
                        <th>Notes</th>
                        <th>
                            Status
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody v-for="(s,i) in stok" :key="s.kode">
                    <tr>
                        <td v-text="s.kode"></td>
                        <td v-text="s.judul"></td>
                        <td v-text="s.kategori"></td>
                        <td v-text="s.upbjj"></td>
                        <td v-text="s.lokasiRak"></td>
                        <td v-text="s.harga"></td>
                        <td v-text="s.qty"></td>
                        <td v-text="s.safety"></td>
                        <td v-html="s.catatanHTML"></td>
                        <td>
                            <span class="badge text-bg-success" v-if="s.qty >= s.safety">Aman</span>
                            <span class="badge text-bg-warning" v-else-if="s.qty < s.safety && s.qty != 0">Menipis</span>
                            <span class="badge text-bg-danger" v-else-if="s.qty == 0">Kosong</span>
                        </td>
                        <td>
                            <button @click="editStok(s, i)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Stok</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Stok - {{input.kode}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="number" class="form-control" v-model.number="input.qty" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="submitStok">Save changes</button>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="js/stok-app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>